
<div class="layui-card">
  <div class="layui-card-body">
    <form class="layui-form layui-form-pane" action="">
		<div class="layui-form-item"> 
			<label class="layui-form-label">Brithday</label> 
			<div class="layui-input-inline">
				<input type="text" name="Brithday" lay-verify="required" autocomplete="off" value="<%.data.Brithday%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserPhoto</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserPhoto" lay-verify="required" autocomplete="off" value="<%.data.UserPhoto%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserQQ</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserQQ" lay-verify="required" autocomplete="off" value="<%.data.UserQQ%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserTotalScore</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserTotalScore" lay-verify="required" autocomplete="off" value="<%.data.UserTotalScore%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">LastIP</label> 
			<div class="layui-input-inline">
				<input type="text" name="LastIP" lay-verify="required" autocomplete="off" value="<%.data.LastIP%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">LastTime</label> 
			<div class="layui-input-inline">
				<input type="text" name="LastTime" lay-verify="required" autocomplete="off" value="<%.data.LastTime%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">LoginPwd</label> 
			<div class="layui-input-inline">
				<input type="text" name="LoginPwd" lay-verify="required" autocomplete="off" value="<%.data.LoginPwd%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserSex</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserSex" lay-verify="required" autocomplete="off" value="<%.data.UserSex%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">PayPwd</label> 
			<div class="layui-input-inline">
				<input type="text" name="PayPwd" lay-verify="required" autocomplete="off" value="<%.data.PayPwd%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserName</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserName" lay-verify="required" autocomplete="off" value="<%.data.UserName%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserPhone</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserPhone" lay-verify="required" autocomplete="off" value="<%.data.UserPhone%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserEmail</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserEmail" lay-verify="required" autocomplete="off" value="<%.data.UserEmail%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserFrom</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserFrom" lay-verify="required" autocomplete="off" value="<%.data.UserFrom%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserMoney</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserMoney" lay-verify="required" autocomplete="off" value="<%.data.UserMoney%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">LockMoney</label> 
			<div class="layui-input-inline">
				<input type="text" name="LockMoney" lay-verify="required" autocomplete="off" value="<%.data.LockMoney%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserId</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserId" lay-verify="required" autocomplete="off" value="<%.data.UserId%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">LoginName</label> 
			<div class="layui-input-inline">
				<input type="text" name="LoginName" lay-verify="required" autocomplete="off" value="<%.data.LoginName%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">Table</label> 
			<div class="layui-input-inline">
				<input type="text" name="Table" lay-verify="required" autocomplete="off" value="<%.data.Table%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserStatus</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserStatus" lay-verify="required" autocomplete="off" value="<%.data.UserStatus%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">DataFlag</label> 
			<div class="layui-input-inline">
				<input type="text" name="DataFlag" lay-verify="required" autocomplete="off" value="<%.data.DataFlag%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">CreateTime</label> 
			<div class="layui-input-inline">
				<input type="text" name="CreateTime" lay-verify="required" autocomplete="off" value="<%.data.CreateTime%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserType</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserType" lay-verify="required" autocomplete="off" value="<%.data.UserType%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">TrueName</label> 
			<div class="layui-input-inline">
				<input type="text" name="TrueName" lay-verify="required" autocomplete="off" value="<%.data.TrueName%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">True_name</label> 
			<div class="layui-input-inline">
				<input type="text" name="True_name" lay-verify="required" autocomplete="off" value="<%.data.True_name%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">LoginSecret</label> 
			<div class="layui-input-inline">
				<input type="text" name="LoginSecret" lay-verify="required" autocomplete="off" value="<%.data.LoginSecret%>" placeholder="请输入" class="layui-input">
			<div>
		<div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">UserScore</label> 
			<div class="layui-input-inline">
				<input type="text" name="UserScore" lay-verify="required" autocomplete="off" value="<%.data.UserScore%>" placeholder="请输入" class="layui-input">
			<div>
		<div>

      <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="save">提交</button>
      </div>
    </form>               
  </div>
</div>

<script src="/static/js/users.js"></script> 
